* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #78f6e7, #2be5f2, #00d1fd, #00bbff, #00a2ff, #00a2ff, #00a2ff, #00a2ff, #00bbff, #00d1fd, #2be5f2, #78f6e7);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    margin: 3rem 0;
    background-color: white;
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 25px;
    letter-spacing: 0.5px;
}

.container h1 img {
    height: 50px;
    margin-left: 10px;
}

.addTask {
    background-color: #efecec;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.addTask input {
    border: none;
    outline: none;
    background: none;
    padding: 12px 20px;
}

.addTask button {
    width: 30%;
    background-color: #0091ff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.addTask button:hover {
    background-color: #0077ff;
}

#tasks {
    margin-top: 1.8rem;
    padding-right: 1rem;
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.7rem;
    line-height: 1;
    margin-top: 1.2rem;
}

.task img {
    cursor: pointer;
    width: 18px;
}

.task img:hover {
    filter: brightness(0.8);
}

.task p {
    margin-left: 10px;
    font-size: 15px;
}

.lined {
    text-decoration: line-through;
    color: #0091ff;
}

.task span {
    margin-left: auto;
    cursor: pointer;
    color: #0091ff;
}


@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    
}